<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A starter app for running Ruby on Rails on drie">
    <meta name="author" content="drie drie.co">
    <link rel="icon" href="../../favicon.ico">

    <title>Ruby on Rails starter app for drie</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= csrf_meta_tags %>
  </head>
  <body>
    
  <%= yield %>

  </body>
</html>
